@import '../../styles/global.scss';

.component{
  min-height: calc(100vh - 97px);
}

.title{
  text-align: center;
  font-size: 25px;
  margin: 0;
  font-family: $titleFont;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}